// Font
$mainFont: "Ubuntu";
$mainFontColor: #26292F;

// Size
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1650px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 380px;

// Main color
$brand-gray:#B0B7C3;
$desc-color: #59677E;

// Border Color
$border-base:1px solid #CDCDCD;
